.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Estilo general para el contenedor de los botones */
.dialog-actions {
  display: flex;
  justify-content: flex-end;
  /* Alinea los botones a la derecha */
  align-items: flex-end;
  /* Coloca los botones en la parte inferior */
  gap: 10px;
  /* Espacio entre los botones */
  padding: 10px;
}

/* Estilo general para los botones */
.button {
  font-size: 14px;
  /* Tamaño de texto más pequeño */
  padding: 6px 15px;
  /* Espaciado más pequeño */
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  color: white;
  /* Texto blanco */
  border: none;
  /* Eliminar borde por defecto */
  cursor: pointer;
  /* Cambiar el cursor al pasar por encima */
}

/* Estilo para el botón de "Filtrar" - Azul */
.filter-button {
  background-color: lightblue;
  /* Azul */
  color: dodgerblue;
  /* Texto blanco */
}

.filter-button:hover {
  background-color: lightblue;
  /* Azul más fuerte al pasar el cursor */
}

/* Estilo para el botón de "Cerrar" - Rojo */
.close-button {
  background-color: lightpink;
  /* Rojo */
  color: darkred;
  /* Texto blanco */
}

.close-button:hover {
  background-color: lightpink;
  /* Rojo más fuerte al pasar el cursor */
}

/* Estilo para el botón de "Exportar" - Verde */
.export-button {
  background-color: lightgreen;
  /* Verde */
  color: seagreen;
  /* Texto blanco */
}

.export-button:hover {
  background-color: lightgreen;
  /* Verde más fuerte al pasar el cursor */
}
/* Contenedor de la tabla con desplazamiento */
.table-container {
  max-height: 500px; /* Ajusta la altura según lo que necesites */
  overflow-y: auto; /* Activa el desplazamiento vertical */
  overflow-x: auto; /* Activa el desplazamiento horizontal si es necesario */
  position: relative; /* Necesario para el sticky */
  border: 1px solid #ddd; /* Bordes para distinguir el área */
}

/* Encabezado fijo */
.mat-header-row, .mat-header-cell {
  position: sticky !important; /* Activa el sticky */
  top: 0;
  z-index: 2; /* Mantiene el encabezado por encima de las filas */
  background: white; /* Fondo blanco para evitar superposición visual */
  border-bottom: 1px solid #e0e0e0; /* Línea de separación */
}

/* Ajusta la altura de las celdas del encabezado */
.mat-header-cell {
  height: 48px; /* Altura del encabezado */
  font-weight: bold; /* Hace que el texto sea más visible */
  text-align: center; /* Centra el texto */
}

